<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true">
    
    <testsuites>
        <testsuite name="Unit Tests">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>tests/Integration</directory>
        </testsuite>
        <testsuite name="Feature Tests">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="API Tests">
            <directory>tests/Api</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true"
             processUncoveredFiles="true"
             ignoreDeprecatedCodeUnits="true"
             disableCodeCoverageIgnore="true">
        <report>
            <clover outputFile="coverage/clover.xml"/>
            <html outputDirectory="coverage/html"/>
            <text outputFile="php://stdout" showUncoveredFiles="false"/>
            <xml outputDirectory="coverage/xml"/>
        </report>
        <include>
            <directory suffix=".php">app</directory>
            <directory suffix=".php">public/api</directory>
        </include>
        <exclude>
            <directory>app/Views</directory>
            <directory>tests</directory>
            <directory>vendor</directory>
            <file>app/Config/Database.php</file>
        </exclude>
    </coverage>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_DATABASE" value="laburar_test"/>
        <env name="DB_USERNAME" value="test_user"/>
        <env name="DB_PASSWORD" value="test_password"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="REDIS_HOST" value="127.0.0.1"/>
        <env name="REDIS_PORT" value="6379"/>
        <env name="REDIS_DB" value="1"/>
        <env name="JWT_SECRET" value="test-jwt-secret-key"/>
        <server name="HTTP_HOST" value="localhost"/>
        <server name="SCRIPT_NAME" value="/index.php"/>
        <server name="REQUEST_URI" value="/"/>
        <server name="REQUEST_METHOD" value="GET"/>
    </php>

    <source>
        <include>
            <directory suffix=".php">app</directory>
            <directory suffix=".php">public/api</directory>
        </include>
        <exclude>
            <directory>tests</directory>
            <directory>vendor</directory>
            <file>bootstrap.php</file>
        </exclude>
    </source>

    <logging>
        <junit outputFile="tests/results/junit.xml"/>
        <teamcity outputFile="tests/results/teamcity.txt"/>
        <testdoxHtml outputFile="tests/results/testdox.html"/>
        <testdoxText outputFile="tests/results/testdox.txt"/>
    </logging>

    <groups>
        <include>
            <group>unit</group>
            <group>integration</group>
            <group>feature</group>
            <group>api</group>
        </include>
        <exclude>
            <group>slow</group>
            <group>external</group>
        </exclude>
    </groups>
</phpunit>